@{
    ViewData["Title"] = "AreaAdm";
}



<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InfinitySky</title>
    <link rel="stylesheet" href="styles.css">
    <link href="~/css/areaadm.css" rel="stylesheet" />
</head>
<body>
    <h1>ADMINISTRADOR</h1>
    <div class="conteudo-administrador">
        <div class="icone-administrador">
            <img src="/img/engrenagem.png" alt="Engrenagem" />
            <p>ADMINISTRADOR</p>
        </div>
        <div class="botoes-administrador">
            <button class="botao botao-incluir">
                <img src="/img/incluir.png" alt="Incluir" /> INCLUIR PLANO
            </button>
            <button class="botao botao-excluir">
                <img src="/img/excluir.png" alt="Excluir" /> EXCLUIR PLANO
            </button>
            <button class="botao botao-alterar">
                <img src="/img/alterar.png" alt="Alterar" /> ALTERAR PLANO
            </button>
            <button class="botao botao-sair">
                <img src="/img/sair.png" alt="Sair" /> SAIR
            </button>
        </div>
    </div>
</body>
</html>