<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InifitySky</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/rodape.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <!-- NAVBAR -->
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-blue border-bottom box-shadow mb-3">
            <div class="container-fluid d-flex align-items-center justify-content-between">
                <!-- LOGO -->
                <div class="logo">
                    <img src="/img/logo.png" alt="Infinity Sky Logo">
                </div>
                <!-- BARRA DE PESQUISA -->
                <div class="search-bar">
                    <input type="text" placeholder="Busca...">
                    <button>
                        <img src="/img/lupaimg.png" alt="lupa" class="search-icon">
                    </button>
                </div>
                <!-- REDES SOCIAIS -->
                <div class="social-icons">
                    <a href="#">
                        <img src="/img/Instagram.png" alt="Instagram Icon">
                    </a>
                    <a href="#">
                        <img src="/img/Whatsapp.png" alt="WhatsApp Icon">
                    </a>
                </div>
            </div>
        </nav>
        <!-- LINHA BRANCA -->
        <div class="custom-line"></div>
        <!-- LINKS ABAIXO DA LINHA BRANCA -->
        <nav class="secondary-navbar">
            <ul>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Principais destinos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Plano">Planos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Sobre">Sobre nós</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="CadastrarCliente">Cadastre-se</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Login">Entrar</a>
                </li>
                <a href="#">
                    <img src="/img/carrinho.png" alt="Carrinho" class="cart-icon">
                </a>
            </ul>
        </nav>
    </header>

    <!-- CONTEÚDO DINÂMICO: VIEWS -->
    <div class="container my-5">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- RODAPÉ -->
    <footer>
        <div class="footer-container">
            <div class="footer-column">
                <h3>Saiba mais</h3>
                <ul>
                    <li>Telefone</li>
                    <li>WhatsApp</li>
                    <li>E-mail</li>
                </ul>
            </div>
            <div class="footer-column">
                <ul>
                    <li>Instagram</li>
                    <li>Localização</li>
                    <li>Mais sobre países parceiros</li>
                </ul>
            </div>
            <div class="footer-column">
                <ul>
                    <li>Nossos serviços</li>
                    <li>Objetivos da Infinity</li>
                    <li>Sobre nós</li>
                </ul>
            </div>
            <div class="footer-column">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis nisl vel felis tempus sagittis. Proin feugiat in nunc vitae suscipit. Lorem ipsum Lorem.</p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024. InfinitySky. Todos os direitos reservados.</p>
        </div>
    </footer>

    <!-- SCRIPTS -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
